.card {
  background: red;
  border-radius: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  margin: 1.2em;
  color: white;
}

.card1 {
  background: hwb(52 9% 5%);
  border-radius: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  margin: 1.2em;
}

.card2 {
  background: hwb(118 5% 64%);
  border-radius: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  margin: 1.2em;

  color: white;
}

.btn {
  border-radius: 12px;
  background: lightblue;
  font-size: 0.8em;
  padding: 8px;
  font-style: oblique;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
